
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn-outline-warning, .btn-outline {
    background-color: #FEBF32;
    border-color: #FEBF32;
    font-family: Kayak Sans;
    font-weight: bold;
    font-size: 18px;
    max-width: 100%;
    padding-top: -20px;
    padding-bottom: -20px;
    padding-left:25px;
    padding-right:25px;
    margin-right: 50px;
}

.btn-primary, btn-outline-warning, .btn-outline:hover{
    background-color: #ebaa19;
    border-color: #ebaa19;
    font-family: Kayak Sans;
    font-weight: bold;
    font-size: 18px;
    max-width: 100%;
    padding-top: -20px;
    padding-bottom: -20px;
    padding-left:25px;
    padding-right:25px;
    margin-right: 50px;
}

.nav-link, .nav-link:hover, .nav-link:focus, .nav-link.active{
    font-family: Kayak Sans;
    font-weight: bold;
    color: black;
    margin-right: 30px;
    font-size: 22px;
    
}

.nav-link:hover{
    font-family: Kayak Sans;
    font-weight: bold;
    color: #ebaa19;
    margin-right: 30px;
    font-size: 22px;
    
}