{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div id="bg-blur" class="d-flex justify-content-center align-items-center w-100 h-100">
	<div id="kotak_pesanan" class="h-100 w-50"style=" background-color: white">
		<div class="p-4 h-100" id="list_pesanan">
			<h1 style="font-size: 50px">Pesanan Kamu</h1>
			<form style="font-size: 26px" method="POST">
				{% csrf_token %}
				<div>{{ pesan_makanan.nama.label_tag }}</div>
				<div>{{ pesan_makanan.nama }}</div>
				{% for menu_dipesan in menu.menu.all %}
				<div class="p-2 row">
					<div class="col-1">{{ menu_dipesan.amount }}</div>
					<div class="col-7">
						 {{ menu_dipesan.menu.name }} <br> 
						<!-- <span class="text-secondary"> deskirpsi </span> -->
					</div>
					<div class="col-4">Rp {{ menu_dipesan.menu.price | intcomma }} </div>
				</div>
				{% endfor %}
				<div class="p-2">
					<div><b>Total</b></div>
					<div><b>Rp {{ total | intcomma }} </b></div>
				</div>
				<div class="d-flex justify-content-center">
					<button onclick="goBack()" class="btn btn-primary shadow">Batal</button>
					<input class=" btn btn-primary shadow" type="submit" value="Pesan">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}

{% block script %}
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock script %}
