<div class="menu">
  <h1>Pencarian</h1>
  <div class="container-fluid">
    {% for menumakan in search_result %}
    <div class="row align-items-center">
      <div class="col-6 col-md-2">
        <span class="name">{{ menumakan.name }}</span>
        <br>
        <span class="price">{{ menumakan.price }}</span>
      </div>
      <div class="col-6 col-md-2">
        <img src="{{ menumakan.image.url }}">
      </div>
      <div class="col-6 col-md-3">
        <div class="input-number position-relative">
          {{ menu.form_field }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>