<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="makanyu_logo.png" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel = "stylesheet" href="{% static 'css/base.css' %}"> 
    
    <!-- Slick for carousel -->
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    
    
    {% block css %}
    {% endblock css %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Slick for carousel -->
    
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <script type="text/javascript" src="slick/slick.min.js"></script>
    
    {% block script %}
    {% endblock script %}
    
	<style>
		@font-face {
		    font-family: 'Kayak Sans';
		    src: url('{% static 'fonts/Kayak Sans Regular.otf' %} format("opentype")');
		}
		
		@font-face {
		    font-family: 'Kayak Sans';
		    font-weight: bold;
		    src: url('{% static 'fonts/Kayak Sans Bold.otf' %} format("opentype")');
		}

		@font-face {
		    font-family: 'Kayak Sans';
		    font-weight: lighter;
		    src: url('{% static 'fonts/Kayak Sans Light.otf' %} format("opentype")');
		}
	</style>
    
    
    
</head>
<body style="height: 100vh; background-color: white; font-family: Kayak Sans">
    <div class="bs-example">
        <nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top shadow p-3 mb-5">
              <a class="navbar-brand" href="{% url 'homepage:home' %}">
                 <img src="{% static 'images/makanyu logo.png' %}" height="50px">
                </a>
                 
            
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                 
<!--
            {% if user.is_authenticated %}
                {{ user.username }}
            
            {% else %}
                <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link">Masuk</a>
                    <button type="button" class="btn btn-primary"> Daftar </button>
                    
                    <a class="btn btn-outline-success" type="button" href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
            {% endif %}

-->
              
            
            
             {% if user.is_authenticated %}
            
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <div class="nav-item nav-link">{{ user.username }}</div>
                    <button onclick="window.location.href='/accounts/logout'" class="btn btn-outline-warning" type="button">Keluar</button>
                </ul>
              </div>
            
            {% else %}
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <a href="{% url 'login' %}" class="nav-item nav-link">Masuk</a>
                    <button onclick="window.location.href='/accounts/signup'" class="btn btn-primary" type="button">Daftar</button>
                </ul>
              </div>
            {% endif %}
              
            
        </nav>
    </div>
    
    <div style="padding-top: 100px">
	{% block content %}
		<div style="text-align: center; position: relative; top: 36%; color: white;">
			<h1 style="font-size: 75px; margin: auto;">
				COMING SOON
			</h1>
			<h1 style="font-size: 50px; margin: auto; font-family: 'Kayak Sans'; font-weight: lighter;">
				Makanyu
			</h1>
		</div>
	{% endblock content %}
    </div>
    	
</body>
    
</html>
